{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
 <div class="row">

 <div class="col-md-offset-3 col-md-6">
 <form class="form-horizontal">
      <img src="{% static 'image/GerbKievUniversity.png' %}" title="gerb">
 <span class="heading">ВХІД</span>
 <div class="form-group">
 <input type="email" class="form-control" id="inputEmail" placeholder="login">
 <i class="fa fa-user"></i>
 </div>
 <div class="form-group help">
 <input type="password" class="form-control" id="inputPassword" placeholder="Password">
 <i class="fa fa-lock"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div>
 <div class="form-group">
 <div class="main-checkbox">
 <input type="checkbox" value="none" id="checkbox1" name="check"/>
 <label for="checkbox1"></label>
 </div>
 <span class="text">Запам'ятати</span>
 <button type="submit" class="btn btn-default">ДАЛІ</button>
 </div>
     <div>
       <button type="button" >Забули пароль?</button>
     </div>
 </form>
 </div>

 </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>